@use './../../scss/abstracts/variable';
@import './../../fonts/typography';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  hyphens: auto;
}

body {
  background-color: variable.$background;
  font-display: swap;
  // overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  max-width: 1024px;
}
