@use '../abstracts/colors';
@use '../abstracts/variables';
@import '../../scss/abstracts/mixins';

.about {
  position: relative;
  z-index: 4;

  .row {
    padding: 0 12px;
    display: flex;
    align-items: center;

    .image-about {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @media screen and (max-width: 770px) {
        margin-bottom: 66px;
      }

      img {
        box-shadow: -10px 10px colors.$background-dark;
        border: 2px solid colors.$background-dark;
      }
    }

    .container-about-info {
      .title-about {
        color: colors.$text-dark;
        margin-bottom: 16px;

        span {
          color: colors.$highlight-color;
        }
      }

      .paragraph {
        line-height: 1;
        color: colors.$paragraph-dark;
      }

      button {
        display: flex;
        align-items: center;
        @include btn-style();

        svg {
          margin-left: 6px;
          color: colors.$text-dark !important;
        }
      }
    }
  }

  .text-background {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 5%;
    font-size: 13.5em;
    font-family: variables.$font-background-style;
    color: #0505050c;
  }
}
