@use '../abstracts/colors';
@use '../abstracts/variables';

.introduction {
  padding: 5em 1.5em;
  text-align: center;

  @media screen and (max-width: 590px) {
    text-align: left;
  }

  h1 {
    color: colors.$text-dark;

    span {
      color: colors.$highlight-color;
      font-weight: bold;
    }
  }

  .btn-contact {
    background-color: colors.$highlight-color;
    margin-top: 1.5em;
    z-index: -1;
    color: colors.$text-light;
    font-weight: 600;
  }
}
