@use '../abstracts/colors';
@use '../abstracts/variables';
@import '../../scss/abstracts/mixins';

.projects-home {
  padding: variables.$x-axis-padding variables.$y-axis-padding;

  .container {
    .title-projects-home {
      color: colors.$white;

      span {
        color: colors.$orange;
      }
    }

    .paragraph-projects-home {
      color: colors.$gray;

      i {
        color: colors.$white;
      }
      hyphens: auto;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
    }

    .container-cards-projects-home {
      .card {
        background-color: transparent;
        border: none;

        img {
          border-radius: 0 !important;
          -webkit-border-radius: 0 !important;
          -moz-border-radius: 0 !important;
          -ms-border-radius: 0 !important;
          -o-border-radius: 0 !important;
        }
      }

      @media screen and (max-width: 766px) {
        .card:nth-child(2) {
          display: none;
        }
      }
    }

    .btn-projects-home {
      display: flex;
      align-items: center;
      margin-top: 14px;
      @include btn-style();

      img {
        margin-right: 6px;
      }
    }
  }
}
