@use '../abstracts/colors';
@use '../abstracts/variables';
@import '../../scss/abstracts/mixins';

.projects-home {
  padding: variables.$x-axis-padding variables.$y-axis-padding;

  .container {
    .title-projects-home {
      color: colors.$text-dark;
    }

    .paragraph-projects-home {
      color: colors.$paragraph-dark;
      hyphens: auto;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
    }

    .container-cards-projects-home {
      .card {
        padding: 0;
        border: none;
        border: 5px solid colors.$background-light;

        img {
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
        }
      }

      @media screen and (max-width: 766px) {
        .card:nth-child(2) {
          display: none;
        }
      }
    }

    .btn-projects-home {
      display: flex;
      align-items: center;
      margin-top: 14px;
      @include btn-style();

      svg {
        margin-left: 6px;
        color: colors.$text-dark !important;
      }
    }
  }
}
