@use '../abstracts/colors';
@use '../abstracts/variables';

.services {
  background-color: colors.$background-dark;
  display: flex;
  align-items: center;
  position: relative;
  padding: variables.$x-axis-padding variables.$y-axis-padding;

  @media screen and (min-width: 1120px) {
    background-image: url('../../images/profile/profile-services.webp');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .title-services {
    color: colors.$text-light;
  }

  .paragraph-services {
    color: colors.$paragraph-light;
    font-weight: 300;

    @media screen and (min-width: 1120px) {
      & {
        max-width: 70%;
      }
    }
  }

  .container-card-services {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    margin-top: 32px;

    .card-services {
      max-width: 280px;
      border-left: 8px solid colors.$highlight-color;
      background-color: colors.$background-light;
      padding: 17px 25px;

      @media (max-width: 630px) {
        & {
          min-width: 100%;
        }
      }

      .title-card-services {
        font-size: 1em;
        color: colors.$text-dark;
        text-transform: uppercase;
        font-family: variables.$bold-typeface-font;
      }

      .paragraph-card-services {
        color: colors.$text-dark;
        font-family: variables.$font-paragraph-italic;
        font-size: 0.9em;
        margin-bottom: 0;
      }
    }
  }
}
