@use '../abstracts/colors';

.container-btnTop {
  .btnTop {
    z-index: 100;
    bottom: 20px;
    right: 15px;
    padding: 10px !important;
    border: 0;
    border-radius: 6px;
    position: fixed;
    background-color: colors.$background-light;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    animation: upAnimation 2s infinite;
    -webkit-animation: upAnimation 2s infinite;
    box-shadow: 0 5px colors.$highlight-color;
    border: 2px solid colors.$highlight-color;
    display: none;

    &:hover,
    &::selection {
      animation: none;
      -webkit-animation: none;
    }
  }

  button.visible {
    display: block;
  }
}

@keyframes upAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
