@use '../abstracts/colors';
@use '../abstracts/variables';


* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: colors.$background-light;
  font-family: variables.$font-paragraph;
}

::-webkit-scrollbar {
  width: 0;
}

h1,
h2 {
  font-family: variables.$font-title;
  font-size: 1.5rem;
  font-weight: 500;
}

p,
label {
  font-size: 1.0625rem;
}

ul {
  list-style: none;
}

button,
.btn-contact {
  border: none;
  padding: 8px 16px !important;
}

.active {
  background-color: colors.$background-dark !important;
  color: colors.$background-light !important;

  a {
    background-color: colors.$background-dark !important;
    color: colors.$background-light !important;
  }
}