@use '../abstracts/colors';
@use '../abstracts/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: colors.$blue;
  font-family: variables.$font-paragraph;
}

::-webkit-scrollbar {
  width: 0;
}

h1,
h2 {
  font-family: variables.$font-title;
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
}
