@use '../abstracts/colors';

// .container {
//   max-width: 1024px;
// }

.no-texdecoration {
  text-decoration: none;
}

.bi {
  color: colors.$text-light !important;
}


button:focus,
a:focus {
  box-shadow: none !important;
  // border: none !important;
  outline: none !important;
}