$font-path: '../../fonts';

@font-face {
  src: url('#{$font-path}/Egosta.woff2') format('woff2');
  src: url('#{$font-path}/Egosta.woff') format('woff1');
  src: url('#{$font-path}/Egosta.ttf') format('truetype');
  font-family: 'Egosta';
  font-display: swap;
}

@font-face {
  src: url('#{$font-path}/Staatliches.woff2') format('woff2');
  src: url('#{$font-path}/Staatliches.woff') format('woff');
  src: url('#{$font-path}/Staatliches.ttf') format('truetype');

  font-family: 'Staatliches';
  font-display: swap;
}

@font-face {
  src: url('#{$font-path}/53Dollars-92Cents.woff2') format('woff2');
  src: url('#{$font-path}/53Dollars-92Cents.woff') format('woff');
  src: url('#{$font-path}/53Dollars-92Cents.ttf') format('truetype');

  font-family: '53Dollars 92Cents';
  font-display: swap;
}

@font-face {
  src: url('#{$font-path}/Overpass-Italic.woff2') format('woff2');
  src: url('#{$font-path}/Overpass-Italic.woff') format('woff');
  src: url('#{$font-path}/Overpass-Italic.ttf') format('truetype');

  font-family: 'Overpass Italic';
  font-display: swap;
}

@font-face {
  src: url('#{$font-path}/Overpass.woff2') format('woff2');
  src: url('#{$font-path}/Overpass.woff') format('woff');
  src: url('#{$font-path}/Overpass.ttf') format('truetype');

  font-family: 'Overpass';
  font-display: swap;
}
