@font-face {
  src: url("./static/Stark.woff") format("woff");

  font-family: "Stark";
}

@font-face {
  src: url("./static/Staatliches.woff") format("woff");

  font-family: "Staatliches";
}

@font-face {
  src: url("./static/53 Dollars And 92 Cents.woff") format("woff");

  font-family: "53 Dollars And 92 Cents";
}

@font-face {
  src: url("./static/DMMono-Italic.woff") format("woff");

  font-family: "DMMono Italic";
}

@font-face {
  src: url("./static/DMMono-Regular.woff") format("woff");

  font-family: "DMMono Regular";
}
