@font-face {
  src: url('./static/Stark.woff2') format('woff2');
  src: url('./static/Staatliches.woff') format('woff1');
  src: url('./static/Staatliches.ttf') format('truetype');
  font-family: 'Stark';
}

@font-face {
  src: url('./static/Staatliches.woff2') format('woff2');
  src: url('./static/Staatliches.woff') format('woff');
  src: url('./static/Staatliches.ttf') format('truetype');

  font-family: 'Staatliches';
}

@font-face {
  src: url('./static/53Dollars-92Cents.woff2') format('woff2');
  src: url('./static/53Dollars-92Cents.woff') format('woff');
  src: url('./static/53Dollars-92Cents.ttf') format('truetype');

  font-family: '53Dollars-92Cents';
}

@font-face {
  src: url('./static/DMMono-Italic.woff2') format('woff2');
  src: url('./static/DMMono-Italic.woff') format('woff');
  src: url('./static/DMMono-Italic.ttf') format('truetype');

  font-family: 'DMMono Italic';
}

@font-face {
  src: url('./static/DMMono-Regular.woff2') format('woff2');
  src: url('./static/DMMono-Regular.woff') format('woff');
  src: url('./static/DMMono-Regular.ttf') format('truetype');

  font-family: 'DMMono Regular';
}

@font-face {
  src: url('./static/Outfit-Light.woff2') format('woff2');
  src: url('./static/Outfit-Light.woff') format('woff');
  src: url('./static/Outfit-Light.ttf') format('truetype');

  font-family: 'Outfit Light';
}

@font-face {
  src: url('./static/Outfit-Regular.woff2') format('woff2');
  src: url('./static/Outfit-Regular.woff') format('woff');
  src: url('./static/Outfit-Regular.ttf') format('truetype');

  font-family: 'Outfit-Regular';
}

@font-face {
  src: url('./static/Outfit-Bold.woff2') format('woff2');
  src: url('./static/Outfit-Bold.woff') format('woff');
  src: url('./static/Outfit-Bold.ttf') format('truetype');

  font-family: 'Outfit-Bold';
}
