/* COLORS */
$blue-100: #0e0e0e;

// $blue: #11151c;
// $dark: #020202;
// $blue: #0c1229;
// $gray-50: #333333;
// $gray: #e9e8e8;

// $white: #ffffff;
// $orange: #f27d1d;

$dark: #020202;
$blue: #0c1229;
$gray-50: #333333;
$gray: #e9e8e8;

$white: #ffffff;




// #3185FC

/* NEW PALLET */
$text-dark: #1E1E1E;
$text-light: #ffffff;
$paragraph-dark: #302f2f;
$paragraph-light: #e9e8e8;
$highlight-color: #725AC1;
$background-light: #EDF2F4;
$background-dark: #1E1E1E;
