/* COLORS - THEME DARK */
$background: #000000;
$text-background: #0B0B0B;
$contact-background: #171717;
$card-background: #121212;
$hr: #393939;
$paragraph:#2C2C2C;
$sub-paragraph: #6E6F6D;
$cool-gray: #BFBFCA;
$lavender: #D6DBE8;
$white: #ffffff;
$white-hover: #f3f3f3;
$green: #70FF00;

/* FONT SIZE */
$size-title: 1.625em;
$size-paragraph: 1.125rem;
$size-paragraph-card-home: 1em;
$size-paragraph-card-offer: 0.8750em;
$size-tet-background: 13.5em;

/* FONTS */
$font-title: 'Stark';
$font-paragraph: 'Staatliches';
$font-sub-paragraph: 'DMMono Regular';
$font-text-background: "53 Dollars And 92 Cents";

/* MARGINS */
$margin-lg: 40px;