/* COLORS - THEME DARK */
$background: #000000;
$text-background: #0b0b0b;
$contact-background: #171717;
$card-background: #121212;
$hr: #393939;
$paragraph: #2c2c2c;
$sub-paragraph: #6e6f6d;
$cool-gray: #bfbfca;
$lavender: #d6dbe8;
$white: #ffffff;
$white-hover: #f3f3f3;
$green: #70ff00;

/* FONT SIZE */
$size-title: 1.625em;
$size-paragraph: 1.125rem;
$size-paragraph-card-home: 1em;
$size-paragraph-card-offer: 0.875em;
$size-tet-background: 13.5em;

/* FONTS */
$font-title: 'Stark';
$font-paragraph: 'Staatliches';
$font-sub-paragraph: 'DMMono Regular';
$font-text-background: '53Dollars-92Cents';

/* MARGINS */
$margin-lg: 40px;
