/* FONT FAMILY */
$title-font: 'Egosta';
$paragraph-font: 'Egosta';
$number-font: 'Staatliches';
$bold-typeface-font: 'Staatliches';

/* FONT SIZE */
$title-size: 1.5rem;
$paragraph-size: 1.125rem;

/* PADDING AND MARGINS */
$x-axis-padding: 55px;
$y-axis-padding: 12px;
$title-margin-bottom: 24px;
$paragraph-margin-bottom: 16px;
