@use "./../../scss/abstracts/variable";

.navbar {
  background-color: transparent !important;

  .container {
    .navbar-brand {
      color: variable.$background;
      background-color: variable.$green;
      width: 40px;
      height: 40px;
      border-radius: 32% 66% 70% 27% / 46% 46% 49% 35%;
      text-align: center;
      font-family: "DMMono Italic";
      font-weight: 900;

      span {
        position: relative;
        top: 0px;
      }
    }

    button.navbar-toggler {
      display: flex;
      padding-right: 0;
      flex-direction: column;

      span.navbar-toggler-icon {
        width: 1.2em;
        height: 0.1em;
        margin: 2px 0;
        border-radius: 6px;
        background: variable.$cool-gray;
      }
    }

    .collapse {
      .nav-item,
      .nav-link {
        color: variable.$cool-gray;
        font-family: "Staatliches";

        .nav-style {
          position: relative;
          top: 2px;
          margin-right: 1px;
        }

        .active {
          color: variable.$white;

          span {
            color: variable.$green;
          }
        }

        :is(.nav-link:hover) {
          color: variable.$white;

          .nav-style {
            color: variable.$green;
          }
        }
      }
    }
  }
}
